<footer class="footer">
    <div class="footer__container">
        <section>
            <h2 class="footer__title">sobre</h2>
            <p class="footer__about-text">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dignissimos laboriosam tenetur eos temporibus necessitatibus harum eaque quibusdam officia veritatis enim, debitis officiis inventore iusto quisquam? Cupiditate explicabo quaerat itaque ipsum.
            </p>
        </section>
        <address>
            <h2 class="footer__title">contato</h2>
            <ul>
                <li><i class="fa-solid fa-envelope"></i> email</li>
                <li><i class="fa-solid fa-phone"></i> (00) 0000-0000</li>
                <li><i class="fa-brands fa-whatsapp"></i> (00) 0000-0000</li>
            </ul>
        </address>
    </div>
    <section class="footer__copyright">
        &copy; Todos os direitos reservados
    </section>
</footer>